In [17]:
import pandas as pd
import matplotlib.pyplot as plt

euro = pd.read_csv("exchange_rate_euro.csv", sep=';', encoding= 'unicode_escape')

euro.iloc[:10]

         Data    Kurs  Zmiana    Nazwa Tabeli
0  2022-12-30  4.6899   -0.15  252/A/NBP/2022
1  2022-12-29  4.6969    0.07  251/A/NBP/2022
2  2022-12-28  4.6938    0.82  250/A/NBP/2022
3  2022-12-27  4.6558    0.42  249/A/NBP/2022
4  2022-12-23  4.6364   -0.40  248/A/NBP/2022
5  2022-12-22  4.6551   -0.21  247/A/NBP/2022
6  2022-12-21  4.6648   -0.33  246/A/NBP/2022
7  2022-12-20  4.6804   -0.17  245/A/NBP/2022
8  2022-12-19  4.6886   -0.10  244/A/NBP/2022
9  2022-12-16  4.6934    0.19  243/A/NBP/2022